@import '../../../styles/colors.scss';

.banner {
  color: $dark-text;
  padding: 5rem;
  margin-top: 60px;
  height: calc(100vh - 60px);
  max-width: 100%;
  position: relative;
  z-index: 15;

  .fullName {
    font-size: clamp(3rem, 10vw, 6rem);
    font-weight: 600;
    margin-bottom: 1rem;
    .lastname {
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
  .description {
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 400;
    margin-bottom: 1rem;
  }
}

.links {
  display: flex;
  align-items: center;
  svg {
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
    margin: 0 1rem;
  }
}

.resume {
  font-size: clamp(1rem, 5vw, 1.75rem);
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 425px) {
  .banner {
    padding: 2rem 1rem;
  }
}
