@import '../../styles/colors.scss';

.sectionHeader {
  position: relative; // for wave
  text-align: center;
  padding-bottom: 0.25rem;
}

.sectionTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
