@import '../../styles/colors.scss';

.sectionHeader {
  position: relative; // for wave
  text-align: center;
  .sectionTitle {
    font-size: 3rem;
    font-weight: 600;
    color: $dark-text;
    padding-bottom: 1rem;
  }
}
