@import '../../../styles/colors.scss';

.navbar {
  color: $dark-text;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  height: 80px;
  transition: all 0.4s ease; // for scroll
  a {
    position: relative;
    z-index: 20;
  }

  .navList {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navItem {
    font-size: 1.25rem;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      background: $dark-text;
      position: absolute;
      z-index: 14; // so it's under the text
      transition: width 0.25s ease;
      height: 2px;
      width: 0px;
      right: 0px;
    }
    &::after {
      bottom: 2px;
    }
    &:hover::before,
    &:hover::after {
      right: auto;
      left: 0;
      width: 100%;
    }
  }
}

.scrolled {
  background: #fffa;
  height: 50px;
}
