@import '../../../../styles/colors.scss';

.container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 40px;
}

.downButton {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
  transition: 0.2s transform ease;
  &:hover {
    transform: scale(1.1);
  }
}
